<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/logo.png"  alt="Luvina-Shop" class="img-responsive">
      </a>
    </div>
    <span style="padding: 30px; margin-top: 20px; color: #FE5621; font-size: large;">Category List </span>
    <app-product-category-menu></app-product-category-menu>
  </aside>
  <!-- END MENU SIDEBAR-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop" style="background-color: #FE5621;">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            <app-search></app-search>
            <app-login-status></app-login-status>
            <app-cart-status></app-cart-status>
            
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->
    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>
    <!-- <app-product-list></app-product-list> -->
    <!-- <app-users></app-users> -->
    <!-- <app-register></app-register> -->
  </div>
</div>
<!-- END PAGE CONTAINER-->
<footer style="background-color: #FE5621;">
  <ul>

    <li><a href="#">Contact with Luvina - 0981130824</a></li>
  </ul>
</footer>